*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.hero{
    width:80%;
    margin: auto;
   
}

.navbar{
    margin: 30px auto;
    display: flex;
    align-items: center;
}

ul{
    flex: 1;
    text-align: right;
}

ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0 25px;
}

ul li a{
    text-decoration: none;
    color:#000;
    padding: 0 10px;
    position: relative;
}

ul li a::after{
    content:'';
    width:100%;
    height: 10px;
    background:#f14a60;
    position: absolute;
    /* for allingnment */
    left: 50%;
    transform: translateX(-50%);
    top: -55px;
    transition: 0.5s;

}

/* hide it only show when cursor is there */
ul li a:hover::after{
    width: 100%;
}

.navbar-icons img{
    height: 25px;
    margin-left: 20px;
    cursor: pointer;
}
.navbar-icons {
    margin-left: 60px;
}
.banner {
    display: flex;
    margin-top: 80px;

}
.left-column,.right-column{
    flex-basis: 50%;
}
.right-column img{
    width: 100%;
}
.left-column h1{
    font-size: 60px;

}
.left-column h3{
    font-size: 25px;
    
}

span{
    color:#f14a60;
}

.left-column p{
    font-size: 14px;
    color: #999;
    margin: 50px 0 ;
}

.btn button{
    padding: 7px 30px;
    margin-right: 15px;
    outline: none;
    border: 1px solid #fb7381;
    border-radius: 20px;
    cursor: pointer;
    color: #fb7381;
    background: transparent;
}
.btn button a{
    text-decoration: none;
}

