body{
    color:black;
    text-align: center;
    font-size: larger;
    font-style: italic;
    background-color:bisque;
    
}

h1{
    background-color:gold;
}

h2{
    background-color:lightslategrey;
}
